@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(-1rem); /* move from top */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* natural position */
    }
  }

  .animate-fade-in {
    animation: fade-in 0.8s ease-out forwards;
  }
}